{% extends 'base.html' %}

{% block content %}
 <table class="table table-dark">

  <div class="container">
      <a href="{% url 'clientes:cliente_cadastrar' %}">
        <button type="button" class="btn btn-success">Cadastrar</button>
      </a>
  </div>
  <thead>
    <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>fone</th>
        <th>Email</th>
    </tr>
  </thead>

  <tbody>
    {% for cliente in object_list %}
    <tr>
     <td>{{ cliente.nome}} </td>
     <td>{{ cliente.endereco}} </td>
     <td>{{ cliente.fone}} </td>
     <td>{{ cliente.email}} </td>
     <td><a href="{% url 'clientes:cliente_deletar' cliente.id %}">
         <button type="button" class="btn btn-danger">Deletar</button>
     </a>
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

